* {
    box-sizing: border-box;
}

html {
    background-color: #181a1b;
    color: white;
}

h1 {
    text-align: center;
    margin: 10px;
    
}

h2 {
    text-decoration: underline;
    margin: 20px 10px 20px 10px;
}

code {
    background-color: #313537;
    padding: 10px;
    margin: 40px;
}

a {
    color: rgb(62, 107, 62);
}

.footer {
    background-color: #181a1b;
    width: 100%;
    display: flex;

}

.footer p {
    text-align: center;
}

#intro-content {
    margin: 0 0 0 50px;
}