* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #181a1b;
    color: white;
}

h1 {
    text-align: center;
    margin: 10px;
    
}

h2 {
    text-decoration: underline;
    margin: 20px 10px 20px 10px;
}

h3 {
    margin: 0.1in 0 0.1in 0;
}

p {
    margin: 0.1in 0 0.1in 0;
}

code {
    background-color: #313537;
    padding: 10px;
}

a {
    color: rgb(62, 107, 62);
}

p {
    line-height: 1.5em;
}

img {
    margin: 20px 0 20px 0;
}

table, th, td {
    border: 1px solid #3e4446;
}

td {
    background-color: #34343c;
    padding: 15px;
}

.header {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(46, 69, 184) 0%, rgb(156, 44, 66) 100%);
    margin: 0;
    padding: 25px;
    border-bottom: rgba(255, 255, 255, 0.411) solid 5px;
}

.content {
    margin: 0.5in 0.5in 0.5in 0.5in;
}


.intro-content {
    margin: 0 0in 0 0.5in;
}

.intro-content h3 {
    text-decoration: underline;
    margin: 0.2in 0 0.2in 0;

}

.wget {
    margin: 0 0in 0 0.5in; 
}

.curl {
    margin: 0 0in 0 0.5in;
}

.win_tut {
    -webkit-text-decoration: rgba(65, 105, 225, 0.322) solid underline 10px;
    text-decoration: rgba(65, 105, 225, 0.322) solid underline 10px;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

.mac_tut {
    -webkit-text-decoration: rgba(255, 0, 55, 0.253) solid underline 10px;
    text-decoration: rgba(255, 0, 55, 0.253) solid underline 10px;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

.lin_tut {
    -webkit-text-decoration: rgba(62, 107, 62, 0.452) solid underline 10px;
    text-decoration: rgba(62, 107, 62, 0.452) solid underline 10px;
    -webkit-text-decoration-skip: ink;
}

.tables {
    display: flex;
}

.footer {
    background-color: #050505;
    width: 100%;

}

.footer p {
    text-align: center;
    width: 100%;
}

#intro-header {
    -webkit-text-decoration: rgba(195, 0, 255, 0.253) solid underline 10px;
    text-decoration: rgba(195, 0, 255, 0.253) solid underline 10px;
    -webkit-text-decoration-skip: ink;
}

#title {
    text-decoration: none;
    font-size: 3rem;
}

#cred-cont {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}

#cred-cont li {
    margin-right: 0.5in;
}

#mc {
    background-color: rgba(255, 0, 55, 0.253);
}

#lc {
    background-color: rgba(62, 107, 62, 0.452);
}

#wc {
    background-color: rgba(65, 105, 225, 0.322);
}