html {
    background-color: #181a1b;
    color: white;
}
h1 {
    text-align: center;
    
}

h2 {
    text-decoration: underline;
    margin: 50px 0 50px 0;
}

code {
    background-color: #313537;
    padding: 10px;
}

a {
    color: rgb(62, 107, 62);
}