html {
    background-color: #181a1b;
    color: white;
}

.banner {
    text-align: center;
}

table {
    border: 2px solid #8c8273;
    margin: auto;
    width: 75%;
    text-align: center;
    border-collapse: collapse;
}

tr {
    border: 2px solid #a5a19a;
    background-color: #26292a;
    padding: 10px;
}

td {
    padding: 10px;
    border: 2px solid #a5a19a;
}

tr:nth-child(odd) {
    background-color: #1c1e1f;
}

tr:hover {
    background-color: #18273b;
}

th {
    border: 2px solid #8c8273;
    background-color: #181a1b;
    padding:10px;
}



table tr:nth-child(){background-color: #f2f2f2;}



a {
    color: rgb(105, 105, 202);
}

a:visited {
    color:rgb(158, 105, 202);
}

code {
    text-align: left;
    
}