@media only screen and (max-width: 720px) {
    .nav {
        li {
            margin: 5px;
            padding: 10px;
        }
    }

    body {
      margin: 0;
      font-size: 12px;
    }

    .works-grid {
        display: block;
        margin: 0;
    }

    .work {
        padding: 100px;
    }
}