@import "./_variables";

h1 {
    text-align: center;
    
}

.about-me {

    margin: 0 .5in 0 .5in;

}

.about-me-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    .desc {
        padding: 0 7rem 0 0;
        font-size: 1.30rem;
        font-weight: 700;
    }

    padding: 10px;

    .skills {
        background-image: url("./../images/skill-box.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        
    }

    .skill-box {
       
    }
    
    .desc {
        padding: 10px;
    }

    @mixin skills($color) {
        background-color: $color;
        border-radius: 20px;
    }

    #html {
        @include skills($html)
    }

    #css {
        @include skills($css)
    }

    #js {
        @include skills($js)
    }

    #react {
        @include skills($react)
    }

    #node {
        @include skills($node)
    }

    #php {
        @include skills($php)
    }

    #ph {
        @include skills($ph)
    }

    #ai {
        @include skills($ai)
    }

    #fig {
        @include skills($fig)
    }
}

@media (max-width: 812px) {
    
}