//Global Variables
$background-color: #202731;
$primary-color: #8161DC;
$text-color: #ffffff;
$highlight-color: rgb(118, 127, 255);

 //Skill Variables
$html: #e6510081;
$css: #0278bd7c;
$js: #ffd50080;
$react: #ea584270;
$node: #0d5001;
$php: #8993be7c;
$ph: #03a8f498;
$ai: #ff56229d;
$fig: #7c4dff86;