//Global Variables
$background-color: #202731;
$primary-color: #8161DC;
$text-color: #ffffff;
$highlight-color: rgb(118, 127, 255);

 //Skill Variables
$html: #e6510081;
$css: #0278bd7c;
$js: #ffd50080;
$react: #80deea80;
$node: #579e4a7e;
$php: #8993be7c;
$ph: #03A9F4;
$ai: #FF5722;
$fig: #7C4DFF;