.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 15px 5px 15px;
  margin-top: 0px;
}
.nav li {
  padding: 10px;
  margin: 5px;
  list-style: none;
}

.about-me {
  margin: 0 0.5in 0 0.5in;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-me-grid .desc {
  padding: 0 7rem 0 0;
  font-size: 1.3rem;
  font-weight: 700;
}
.about-me-grid .skill-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about-me-grid .skill-box {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}
.about-me-grid .skill-box .img {
  width: 100%;
  padding: 100%;
}
.about-me-grid .desc {
  padding: 10px;
}
.about-me-grid #html {
  background-color: #e6510081;
  border-radius: 20px;
}
.about-me-grid #css {
  background-color: #0278bd7c;
  border-radius: 20px;
}
.about-me-grid #js {
  background-color: #ffd50080;
  border-radius: 20px;
}
.about-me-grid #react {
  background-color: #ea584270;
  border-radius: 20px;
}
.about-me-grid #node {
  background-color: #0d5001;
  border-radius: 20px;
}
.about-me-grid #php {
  background-color: #8993be7c;
  border-radius: 20px;
}
.about-me-grid #ph {
  background-color: #03a8f498;
  border-radius: 20px;
}
.about-me-grid #ai {
  background-color: #ff56229d;
  border-radius: 20px;
}
.about-me-grid #fig {
  background-color: #7c4dff86;
  border-radius: 20px;
}

.hero-container {
  background-image: url("../images/hero.svg");
  background-repeat: repeat;
  background-position: center;
  background-size: 70%;
  background-position-x: 50px;
  margin-top: 0px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40vh;
  width: 100%;
}
.hero .profile-pic {
  margin: 5px 15px 5px 0;
  padding: 150px;
  width: 100px;
  height: 100px;
  border: 6px solid #8161DC;
  border-radius: 50%;
  background-image: url("../images/headshot-v1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .heading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero .heading #hello {
  text-align: center;
  padding: 10px;
  margin-left: 5px;
  background-color: #02355270;
}
.hero .heading #im {
  text-align: center;
  padding: 10px;
  background-color: #9e026a7e;
}
.hero .heading #a {
  text-align: center;
  padding: 10px;
  background-color: #8c010177;
}

.works {
  margin: 0 0.5in 0 0.5in;
}

.works-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.work {
  margin: 5px;
  padding: 100px;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(0.7);
}
.work h1 {
  transition: 0.5s;
  text-decoration: underline;
  -webkit-text-decoration-color: #4375be;
          text-decoration-color: #4375be;
  text-decoration-thickness: 7px;
  padding: 10px;
  text-decoration: none;
  opacity: 0;
}
.work button {
  transition: 0.5s;
  opacity: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 7px;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.658);
}
.work button:hover {
  cursor: pointer;
  background-color: rgba(132, 24, 255, 0.637);
}
.work:hover {
  filter: brightness(1);
}
.work:hover h1, .work:hover button {
  opacity: 100;
}

.work:hover {
  transform: scale(1.1);
  border: 1px solid #767fff;
  z-index: 1;
}

.work-img {
  height: 100%;
  width: 100%;
}

.work-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-desc:hover {
  display: flex;
}

#se {
  background-image: url("./../images/sincerely-events-preview.png");
}

#pm {
  background-image: url(./../images/pacman-preview.png);
}

#bb {
  background-image: url("./../images/boredbot-preview.png");
}

@media only screen and (max-width: 720px) {
  .nav li {
    margin: 5px;
    padding: 10px;
  }

  body {
    margin: 0;
    font-size: 12px;
  }

  .works-grid {
    display: block;
    margin: 0;
  }

  .work {
    padding: 100px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202731;
  color: #ffffff;
  font-family: "Prompt", sans-serif;
  overflow-x: hidden;
  margin: 0px;
}

div {
  margin: 20px 0 20px 0;
}/*# sourceMappingURL=style.css.map */