@import "./components/_variables";
@import "./components/_nav";
@import "./components/_skills";
@import "./components/_hero";
@import "./components/_work";
@import "./components/_media";
@import "./components/_footer";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
     background-color: $background-color;
     color: $text-color;
     font-family: 'Prompt', sans-serif;
     overflow-x: hidden;
     margin: 0px;
}

div {
    margin: 20px 0 20px 0;
}
