.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 15px 5px 15px;
}
.nav li {
  padding: 10px;
  margin: 5px;
  list-style: none;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-me-grid .desc {
  padding: 0 7rem 0 0;
  font-size: 1.3rem;
  font-weight: 700;
}
.about-me-grid .skill-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about-me-grid .skill-box {
  padding: 5px;
  margin: 10px;
}
.about-me-grid #html {
  background-color: #e6510081;
  border-radius: 20px;
}
.about-me-grid #css {
  background-color: #0278bd7c;
  border-radius: 20px;
}
.about-me-grid #js {
  background-color: #ffd50080;
  border-radius: 20px;
}
.about-me-grid #react {
  background-color: #80deea80;
  border-radius: 20px;
}
.about-me-grid #node {
  background-color: #579e4a7e;
  border-radius: 20px;
}
.about-me-grid #php {
  background-color: #8993be7c;
  border-radius: 20px;
}
.about-me-grid #ph {
  background-color: #03A9F4;
  border-radius: 20px;
}
.about-me-grid #ai {
  background-color: #FF5722;
  border-radius: 20px;
}
.about-me-grid #fig {
  background-color: #7C4DFF;
  border-radius: 20px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 40vh;
  background-image: url("../images/circle-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .profile-pic {
  margin: 5px 15px 5px 0;
  padding: 150px;
  width: 100px;
  height: 100px;
  border: 6px solid #8161DC;
  border-radius: 50%;
  background-image: url("../images/ZF_headshot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.works-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.work {
  margin: 5px;
  padding: 100px;
  transition: 0.5s;
  background-image: url("../images/work_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(0.7);
}
.work h1 {
  transition: 0.5s;
  text-decoration: underline;
  -webkit-text-decoration-color: #4375be;
          text-decoration-color: #4375be;
  text-decoration-thickness: 7px;
  opacity: 0;
}
.work button {
  transition: 0.5s;
  opacity: 0;
}
.work:hover {
  filter: brightness(1);
}
.work:hover h1, .work:hover button {
  opacity: 100;
}

.work:hover {
  transform: scale(1.1);
  border: 1px solid #767fff;
  z-index: 1;
}

.work-img {
  width: 100%;
}

.work-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-desc:hover {
  display: flex;
}

@media only screen and (max-width: 720px) {
  .nav li {
    margin: 5px;
    padding: 10px;
  }

  body {
    margin: 0;
    font-size: 12px;
  }

  .works-grid {
    display: block;
    margin: 0;
  }

  .work {
    padding: 100px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202731;
  color: #ffffff;
  font-family: "Prompt", sans-serif;
  margin: 0 0.5in 0 0.5in;
  overflow-x: hidden;
}

div {
  margin: 20px 0 20px 0;
}/*# sourceMappingURL=style.css.map */