.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 15px 5px 15px;
  margin-top: 0px;
}
.nav li {
  padding: 10px;
  margin: 5px;
  list-style: none;
}

h1 {
  text-align: center;
}

.about-me {
  margin: 0 0.5in 0 0.5in;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
  padding: 10px;
}
.about-me-grid .desc {
  padding: 0 7rem 0 0;
  font-size: 1.3rem;
  font-weight: 700;
}
.about-me-grid .skills {
  background-image: url("./../images/skill-box.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 40vh;
}
.about-me-grid .desc {
  padding: 10px;
}
.about-me-grid #html {
  background-color: #e6510081;
  border-radius: 20px;
}
.about-me-grid #css {
  background-color: #0278bd7c;
  border-radius: 20px;
}
.about-me-grid #js {
  background-color: #ffd50080;
  border-radius: 20px;
}
.about-me-grid #react {
  background-color: #ea584270;
  border-radius: 20px;
}
.about-me-grid #node {
  background-color: #0d5001;
  border-radius: 20px;
}
.about-me-grid #php {
  background-color: #8993be7c;
  border-radius: 20px;
}
.about-me-grid #ph {
  background-color: #03a8f498;
  border-radius: 20px;
}
.about-me-grid #ai {
  background-color: #ff56229d;
  border-radius: 20px;
}
.about-me-grid #fig {
  background-color: #7c4dff86;
  border-radius: 20px;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.hero h1 {
  text-align: left;
}
.hero .introduction {
  padding: 50px;
  font-size: 1.2rem;
}
.hero .introduction .IM {
  font-weight: 700;
  padding-left: 20px;
}
.hero .introduction .aweb {
  padding-left: 20px;
  text-align: left;
  font-size: 1.3rem;
  color: #7796cf;
}
.hero .heading #hello {
  text-align: center;
  padding: 10px;
  margin-left: 5px;
  background-color: #02355270;
}
.hero .heading #im {
  text-align: center;
  padding: 10px;
  background-color: #9e026a7e;
}
.hero .heading #a {
  text-align: center;
  padding: 10px;
  background-color: #8c010177;
}
.hero svg {
  width: 15rem;
}

.div {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  font-style: italic;
  text-align: left;
  color: #a3b8d8;
}

@media screen and (max-width: 1000px) {
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hero .svg {
    width: 12rem;
  }
}
@media screen and (max-width: 600px) {
  .hero {
    position: relative;
    height: 50vh;
  }
  .hero .heading {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
  }
  .hero .introduction {
    background: rgba(1, 1, 1, 0.3);
    border-radius: 5px;
  }
}
.works {
  margin: 0 0.5in 0 0.5in;
}

.works-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.work {
  margin: 5px;
  padding: 100px;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(0.7);
}
.work h1 {
  transition: 0.5s;
  text-decoration: underline;
  -webkit-text-decoration-color: #4375be;
          text-decoration-color: #4375be;
  text-decoration-thickness: 7px;
  padding: 10px;
  text-decoration: none;
  opacity: 0;
}
.work button {
  transition: 0.5s;
  opacity: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 7px;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.658);
}
.work button:hover {
  cursor: pointer;
  background-color: rgba(132, 24, 255, 0.637);
}
.work:hover {
  filter: brightness(1);
}
.work:hover h1, .work:hover button {
  opacity: 100;
}

.work:hover {
  transform: scale(1.1);
  border: 1px solid #767fff;
  z-index: 1;
}

.work-img {
  height: 100%;
  width: 100%;
}

.work-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-desc:hover {
  display: flex;
}

#se {
  background-image: url("./../images/sincerely-events-preview.png");
}

#pm {
  background-image: url("./../images/pacman-preview.png");
}

#bb {
  background-image: url("./../images/boredbot-preview.png");
}

@media only screen and (max-width: 720px) {
  .nav li {
    margin: 5px;
    padding: 10px;
  }

  body {
    margin: 0;
    font-size: 12px;
  }

  .works-grid {
    display: block;
    margin: 0;
  }

  .work {
    padding: 100px;
  }
}
footer {
  background-image: url("../images/footer.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 40vh;
  width: 100%;
}

svg {
  transform: scale(120%);
}

@-webkit-keyframes animate {
  from {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}

@keyframes animate {
  from {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}
.blog-posts {
  padding: 2rem;
  cursor: pointer;
}
.blog-posts .b-post {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.5s;
}
.blog-posts .b-post #b-p {
  padding-right: 1rem;
}
.blog-posts .b-post:hover {
  transform: scale(1.1);
}
.blog-posts img {
  max-width: 150px;
  border-radius: 5px;
  justify-self: center;
  align-self: flex-end;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202731;
  color: #ffffff;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  margin: 0px;
  padding: 0 10rem 0 10rem;
}

@media (max-width: 1000px) {
  body {
    padding: 0 1rem 0 1rem;
  }
}
div {
  margin: 20px 0 20px 0;
}/*# sourceMappingURL=style.css.map */