

body {
    margin: 10;
    padding: 10;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 420px;
    height: 420px;
    border: 5px solid rgba(247, 247, 247, 0.473);
    margin: auto;
}

.grid div {
    
    width: 15px;
    height: 15px;
}

.pac-dot {
    background-color: rgba(255, 255, 255, 0);
    border: 5px solid rgba(0, 0, 0, 0.603);
    box-sizing: border-box;
}

.wall {
    background-color: rgba(0, 0, 0, 0.466);
}

.power-pellet {
    background-color: green;
    border-radius: 7.5px;
    
}

.pacman {
    background-color: orange;
    border-radius: 7.5px;
    border: none;
}

.blinky {
    background-color: red;
    border: none;
}
.pinky {
    background-color: pink;
    border: none;
}

.inky {
    background-color: aqua;
    border: none;
}

.clyde {
    background-color: orange;
    border: none;
}

.scared-ghost {
    background-color: aquamarine;
    border: none;
}